<!--<p>crud-proveedor works!</p>-->
<div class="container">
    <h3 class="titulom mt-4">MANTENIMIENTO DE PROVEEDOR</h3>

    <div class="col-md-23" style="margin-top: 3%">


        <div class="row" style="height: 80px">
            <div class="col-md-4">
                <input [(ngModel)]="filtro" class="form-control" id="id_txt_filtro" name="filtro"
                    placeholder="Ingrese la razon social" type="text" maxlength="30" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-warning" id="id_btn_filtrar" style="width: 150px"
                    (click)="consulta()">Filtrar</button>
            </div>
            <div class="col-md-2">
                <button type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-primary'
                    style="width: 150px" (click)="limpiar()">Registrar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table">
                        <thead class="thead-dark">
                            <tr style="color: aliceblue;">
                                <th style="width: 5%">#</th>
                                <th style="width: 25%">Razon Social</th>
                                <th style="width: 10%; text-align: center;">RUC</th>
                                <th style="width: 10%">Dirección</th>
                                <th style="width: 10%">Teléfono</th>
                                <th style="width: 10%; text-align: center;">Celular</th>
                                <th style="width: 10%">Contacto</th>
                                <th style="width: 31%; text-align: center;">Ubigeo</th>
                                <th colspan="2" style="width: 10%" class="text-center">Estado</th>
                                <th colspan="2" class="text-center">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="fondo" *ngFor="let aux of proveedores">
                                <td>{{ aux.idProveedor }}</td>
                                <td>{{ aux.razonsocial }}</td>
                                <td>{{ aux.ruc }}</td>
                                <td>{{ aux.direccion }}</td>
                                <td>{{ aux.telefono }}</td>
                                <td>{{ aux.celular }}</td>
                                <td>{{ aux.contacto }}</td>
                                <td>{{ aux.ubigeo!.departamento }} - {{ aux.ubigeo!.provincia }} -{{
                                    aux.ubigeo!.distrito }}</td>
                                <td>{{ aux.estado == 1 ? "Activo" : "Inactivo"}}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                            id="idEstado_{{ aux.idProveedor }}" [checked]="aux.estado==1?true:false"
                                            name="estado" (change)="actualizaEstado(aux)" />
                                        <label class="custom-control-label"
                                            for="idEstado_{{ aux.idProveedor }}"></label>
                                    </div>
                                </td>
                                <td class="cambio"><button type="button" class="btn btn-secondary" data-toggle='modal'
                                        data-target="#idModalActualizar" (click)="buscar(aux)"><i
                                            class="bi bi-pencil-square"></i></button></td>
                                <td class="cambio"><button type="button" class="btn btn-danger" (click)="elimina(aux)"> <i
                                                class="bi bi-trash3"></i></button></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width: 70%; border-radius: 30px; ">
            <div class="modal-content">
                <!--style="border-radius: 58px 58px 58px 58px;"-->

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Registrar Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="content" (ngSubmit)="registra()">
                        <!--[formGroup]="formsRegistra"-->
                        <div class="submit-form">

                            <div class="row">
                                <div class="col-lg-8" [formGroup]="formsRegistra">
                                    <label for="id_reg_nombre">Razon Social</label>
                                    <input formControlName="validaRazon" [(ngModel)]="proveedor.razonsocial" type="text"
                                        placeholder="Ingrese razon" class="form-control" name="razonsocial"
                                        id="id_reg_nombre" maxlength="20" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaRazon.errors" class="invalid">
                                        <ul>
                                            <li>La razon social es obligatorio</li>
                                            <li>La razon social es 5 a 20 caracteres</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsRegistra">
                                    <label for="id_reg_dni">RUC</label>
                                    <input formControlName="validaRuc" [(ngModel)]="proveedor.ruc" type="text"
                                        placeholder="Ingrese ruc" class="form-control" name="ruc" id="id_reg_dni"
                                        maxlength="11" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaRuc.errors" class="invalid">
                                        <ul>
                                            <li>La RUC es obligatorio</li>
                                            <li>La RUC es 11 digitos</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsRegistra">
                                    <label for="id_reg_dni">Dirección</label>
                                    <input formControlName="validaDireccion" [(ngModel)]="proveedor.direccion"
                                        type="text" placeholder="Ingrese dirección" class="form-control"
                                        name="direccion" id="id_reg_dni" maxlength="20" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaDireccion.errors"
                                        class="invalid">
                                        <ul>
                                            <li>La Direccion es obligatorio</li>
                                            <li>La Direccion es 5 a 30 caracteres</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsRegistra">
                                    <label for="id_reg_dni">Telefono</label>
                                    <input formControlName="validaTelefono" [(ngModel)]="proveedor.telefono" type="text"
                                        placeholder="Ingrese teléfono" class="form-control" name="telefono"
                                        id="id_reg_dni" maxlength="8" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaTelefono.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El Telefono es obligatorio</li>
                                            <li>El Telefono es 8 digitos</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsRegistra">
                                    <label for="id_reg_dni">Celular</label>
                                    <input formControlName="validaCelular" [(ngModel)]="proveedor.celular" type="text"
                                        placeholder="Ingrese celular" class="form-control" name="celular"
                                        id="id_reg_dni" maxlength="8" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaCelular.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El Celular es obligatorio</li>
                                            <li>El Celular es 8 digitos</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsRegistra">
                                    <label for="id_reg_dni">Contacto</label>
                                    <input formControlName="validaContacto" [(ngModel)]="proveedor.contacto" type="text"
                                        placeholder="Ingrese contacto" class="form-control" name="contacto"
                                        id="id_reg_dni" maxlength="20" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaContacto.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El Contacto es obligatorio</li>
                                            <li>El Contacto es 5 a 30 caracteres</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="margin-top: 5%">

                                <div class="col-lg-4" [formGroup]="formsRegistra">
                                    <label for="id_reg_departamento">Departamento</label>
                                    <select formControlName="validaDepartamento"
                                        [(ngModel)]="proveedor.ubigeo!.departamento" (change)="cargaProvincia()"
                                        id="id_reg_departamento" name="departamento" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of departamentos" value="{{ aux }}">
                                            {{ aux }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && formsRegistra.controls.validaDepartamento.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El campo es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-4" [formGroup]="formsRegistra">
                                    <label for="id_reg_provincia">Provincia</label>
                                    <select formControlName="validaProvincia" [(ngModel)]="proveedor.ubigeo!.provincia"
                                        (change)="cargaDistrito()" id="id_reg_provincia" name="provincia"
                                        class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of  provincias" value="{{ aux }}">
                                            {{ aux }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && formsRegistra.controls.validaProvincia.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El campo es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-4" [formGroup]="formsRegistra">
                                    <label for="id_reg_distrito">Distrito</label>
                                    <select formControlName="validaDistrito" [(ngModel)]="proveedor.ubigeo!.idUbigeo"
                                        id="id_reg_distrito" name="distrito" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of  distritos" value="{{ aux.idUbigeo }}">
                                            {{ aux.distrito }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && formsRegistra.controls.validaDistrito.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El campo es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar"
                                style="width: 100px;">Cerrar</button>
                            <div class="form-group cambio">
                                <div class="col-lg-12">
                                    <button id="id_reg_registra" class="btn btn-success form-control"
                                        style="width: 100px;"
                                        [disabled]="submitted && this.formsRegistra.invalid">Registrar</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>



            </div>
        </div>
    </div>

    <div class="modal fade" id="idModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: darkblue;">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Actualizar Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="content" (ngSubmit)="actualiza()">
                        <div class="submit-form">

                            <div class="row">
                                <div class="col-lg-8" [formGroup]="formsActualiza">
                                    <label for="id_reg_nombre">Razon Social</label>
                                    <input formControlName="validaRazon" [(ngModel)]="proveedor.razonsocial" type="text"
                                        placeholder="Ingrese razon" class="form-control" name="razonsocial"
                                        id="id_reg_nombre" maxlength="20" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaRazon.errors"
                                        class="invalid">
                                        <ul>
                                            <li>La razon social es obligatorio</li>
                                            <li>La razon social es 5 a 20 caracteres</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsActualiza">
                                    <label for="id_reg_dni">RUC</label>
                                    <input formControlName="validaRuc" [(ngModel)]="proveedor.ruc" type="text"
                                        placeholder="Ingrese RUC" class="form-control" name="ruc" id="id_reg_dni"
                                        maxlength="11" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaRuc.errors" class="invalid">
                                        <ul>
                                            <li>La RUC es obligatorio</li>
                                            <li>La RUC es 11 digitos</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsActualiza">
                                    <label for="id_reg_dni">Dirección</label>
                                    <input formControlName="validaDireccion" [(ngModel)]="proveedor.direccion"
                                        type="text" placeholder="Ingrese dirección" class="form-control"
                                        name="direccion" id="id_reg_dni" maxlength="20" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaDireccion.errors"
                                        class="invalid">
                                        <ul>
                                            <li>La Direccion es obligatorio</li>
                                            <li>La Direccion es 5 a 30 caracteres</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsActualiza">
                                    <label for="id_reg_dni">Teléfono</label>
                                    <input formControlName="validaTelefono" [(ngModel)]="proveedor.telefono" type="text"
                                        placeholder="Ingrese teléfono" class="form-control" name="telefono"
                                        id="id_reg_dni" maxlength="8" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaTelefono.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El Telefono es obligatorio</li>
                                            <li>El Telefono es 8 digitos</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsActualiza">
                                    <label for="id_reg_dni">Celular</label>
                                    <input formControlName="validaCelular" [(ngModel)]="proveedor.celular" type="text"
                                        placeholder="Ingrese celular" class="form-control" name="celular"
                                        id="id_reg_dni" maxlength="8" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaCelular.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El Celular es obligatorio</li>
                                            <li>El Celular es 8 digitos</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsActualiza">
                                    <label for="id_reg_dni">Contacto</label>
                                    <input formControlName="validaContacto" [(ngModel)]="proveedor.contacto" type="text"
                                        placeholder="Ingrese contacto" class="form-control" name="contacto"
                                        id="id_reg_dni" maxlength="20" />
                                    <div *ngIf="submitted && formsRegistra.controls.validaContacto.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El Contacto es obligatorio</li>
                                            <li>El Contacto es 5 a 30 caracteres</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2" [formGroup]="formsActualiza">
                                    <label for="id_act_estado">Estado</label>
                                    <select formControlName="validaEstado" [(ngModel)]="proveedor.estado"
                                        id="id_act_estado" name="estado" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option value="1"> Activo </option>
                                        <option value="0"> Inactivo </option>
                                    </select>
                                    <div *ngIf="submitted && formsActualiza.controls.validaEstado.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El Estadoes obligatorio</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top: 5%">

                                <div class="col-lg-4" [formGroup]="formsActualiza">
                                    <label for="id_reg_departamento">Departamento</label>
                                    <select formControlName="validaDepartamento"
                                        [(ngModel)]="proveedor.ubigeo!.departamento" (change)="cargaProvincia()"
                                        id="id_reg_departamento" name="departamento" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of departamentos" value="{{ aux }}">
                                            {{ aux }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && formsActualiza.controls.validaDepartamento.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El campo es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-4" [formGroup]="formsActualiza">
                                    <label for="id_reg_provincia">Provincia</label>
                                    <select formControlName="validaProvincia" [(ngModel)]="proveedor.ubigeo!.provincia"
                                        (change)="cargaDistrito()" id="id_reg_provincia" name="provincia"
                                        class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of  provincias" value="{{ aux }}">
                                            {{ aux }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && formsActualiza.controls.validaProvincia.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El campo es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-4" [formGroup]="formsActualiza">
                                    <label for="id_reg_distrito">Distrito</label>
                                    <select formControlName="validaDistrito" [(ngModel)]="proveedor.ubigeo!.idUbigeo"
                                        id="id_reg_distrito" name="distrito" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of  distritos" value="{{ aux.idUbigeo }}">
                                            {{ aux.distrito }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && formsActualiza.controls.validaDistrito.errors"
                                        class="invalid">
                                        <ul>
                                            <li>El campo es obligatorio </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>



                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="btn_act_cerrar">Cerrar</button>
                            <div class="form-group cambio">
                                <div class="col-lg-12">
                                    <button id="id_act_actualiza" class="btn btn-success form-control"
                                        [disabled]="submitted && this.formsActualiza.invalid">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>





                </div>

            </div>
        </div>
    </div>