<div *ngIf="isLogged">
  <nav class="navbar navbar-expand-lg navbar-red  navbar-dark"> 
    <div class="container-fluid all-show">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
          <li class="nav-item dropdown">
            <a  class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
              Cliente
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="registraCliente" class="dropdown-item">Crear cliente</a>
              <a routerLink="consultaCliente" class="dropdown-item">Consulta cliente</a>
              <a routerLink="crudCliente" class="dropdown-item">Crud cliente</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
              Marca
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="registraMarca" class="dropdown-item">Crear Marca</a>
              <a routerLink="consultaMarca" class="dropdown-item">Consulta Marca</a>
              <a routerLink="crudMarca" class="dropdown-item">Crud Marca</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
              Producto
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="registraProducto" class="dropdown-item">Crear Producto</a>
              <a routerLink="consultaProducto" class="dropdown-item">Consulta Producto</a>
              <a routerLink="crudProducto" class="dropdown-item">Crud Producto</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
              Proveedor
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="registraProveedor" class="dropdown-item">Crear Proveedor</a>
              <a routerLink="consultaProveedor" class="dropdown-item">Consulta Proveedor</a>
              <a routerLink="crudProveedor" class="dropdown-item">Crud Proveedor</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
              Reclamo
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="registraReclamo" class="dropdown-item">Crear Reclamo</a>
              <a routerLink="consultaReclamo" class="dropdown-item">Consulta Reclamo</a>
              <a routerLink="crudReclamo" class="dropdown-item">Crud Reclamo</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
              Sede
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="registraSede" class="dropdown-item">Crear Sede</a>
              <a routerLink="consultaSede" class="dropdown-item">Consulta Sede</a>
              <a routerLink="crudSede" class="dropdown-item">Crud Sede</a>
            </div>
          </li>


        </ul>
        <ul class="navbar-nav">
          <a class="nav-link" (click)="onLogOut()" style="cursor: pointer;">Cerrar Sesión</a>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>


