section .colour {  
    position: absolute;  
    filter: blur(150px);  
}  
section .colour:nth-child(1) {  
    top: -350px;  
    width: 600px;  
 
    background: #18e56a;  
}  
section .colour:nth-child(2) {  
    left: 100px;  
    width: 500px;  
 
    background: #e51818;  
}  
section .colour:nth-child(3) {  
    right: 100px;  
    bottom: 50px;  
    width: 1920px;  
    height: 800px;  
    background: #e51818;  
}
/* section{
   
   offset: 100px;
} */